<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to existing files/directories in public_html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to /public/index.php
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>